<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Resolver</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../partials/header') %>
    <%- include('../../partials/navbar', {opcion: 'FRAUDE'}) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <form action="" id="rslver" method="POST">
                  <input type="hidden" id="idfrau" name="idfrau" value="<%- datos.fraude.IDFRAU %>">
                  <div class="card-header">
                    <h4 class="card-title">Resolver</h4>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-4">
                        <div class="mb-1">
                          <label class="form-label">NIF/NIE</label>
                          <input type="text" class="form-control" name="nifcon" value="<%- datos.fraude.NIFCON %>" readonly/>
                        </div>
                      </div>
                      <div class="col-8">
                        <div class="mb-1">
                          <label class="form-label">Nombre</label>
                          <input type="text" class="form-control" name="nomcon" value="<%- datos.fraude.NOMCON %>" readonly/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-2">
                        <div class="mb-1">
                          <label class="form-label">Referencia</label>
                          <input type="text" class="form-control" name="reffra" value="<%- datos.fraude.REFFRA %>" readonly/>
                        </div>
                      </div>
                      <div class="col-8">
                        <div class="mb-1">
                          <label class="form-label">Tipo</label>
                          <input type="text" class="form-control" name="destip" value="<%- datos.fraude.DESTIP %>" readonly/>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="mb-1">
                          <label class="form-label">Ejercicio</label>
                          <input type="number" class="form-control" name="ejefra" value="<%- datos.fraude.EJEFRA %>" readonly/>
                        </div>
                      </div>
                    </div>
                    <% if(!datos.hayLiquidacion) { %>
                      <div class="row">
                        <div class="col-12">
                          <div class="mb-1">
                            <div class="form-label">Causa cierre</div>
                            <select class="form-select form-control" id="cbotip" name="sitcie">
                              <% datos.tipos.map(element => { %> 
                                <option value="<%- element.IDTIPO %>"><%- element.DESTIP %></option>
                              <% }) %> 
                            </select>
                          </div>
                        </div>
                      </div>
                    <% } else { %>
                      <div class="row">
                        <input type="hidden" id="sitcie" name="sitcie" value="0">
                      </div>
                    <% } %> 
                  </div>
                  <div class="card-footer text-end">
                    <div class="d-flex">
                      <a href="#" id="vol" class="btn btn-white">Cancelar</a>
                      <button type="submit" class="btn btn-success ms-auto">Resolver fraude</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </div>
  <script src="/js/ayuda.min.js"></script>
  <script>
    const getCookie = (key) => {
      let value = ''
      document.cookie.split(';').forEach((e) => {
        if (e.includes(key)) {
          value = e.split('=')[1]
        }
      })
      return value
    }
    
    // inicializar
    const elemVol = document.getElementById('vol');
    elemVol.setAttribute('href', `/user/fraudes?part=${getCookie('filtro')}`)

    const elemRslver = document.getElementById('rslver');
    elemRslver.setAttribute('action', `/user/fraudes/resolver?part=${getCookie('filtro')}`)    
  </script>
</body>
</html>