<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Referencia</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <!-- custom -->
  <link rel="stylesheet" href="/css/estilos.min.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../../partials/header') %>
    <%- include('../../../partials/navbar', {opcion: 'FORMULARIO'}) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <form id="form" action="/admin/formularios/referencias/update" method="POST" onsubmit="return validate();">
                  <input type="hidden" name="iddocu" id="iddocu" value="<%- datos.formulario.IDDOCU %>">
                  <input type="hidden" name="idrefe" id="idrefe" value="<%- datos.referencia.IDREFE %>">
                  <div class="card-header">
                    <h3 class="card-title">Referencia</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-4">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">NIF/NIE</label>
                            <input type="text" name="nifref" id="nifref" class="form-control"
                              style="text-transform: uppercase;" value="<%- datos.referencia.NIFREF %>" />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-8">
                        <div class="mb-1">
                          <div class="form-label">Tipo</div>
                          <select class="form-select" id="cbotip" name="tipref" value="<%- datos.referencia.TIPREF %>"
                            autofocus>
                            <option value="0">SELECCIONE UN TIPO</option>
                            <% datos.tipos.map(element=> { %>
                            <option value="<%- element.IDTIPO %>"
                              <%- element.IDTIPO === datos.referencia.TIPREF ? " selected" :"" %>>
                              <%- element.DESTIP %>
                            </option>
                            <% }) %>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end">
                    <div class="d-flex">
                      <a href="/admin/formularios/referencias/<%- datos.formulario.IDDOCU %>"
                        class="btn btn-white">Cancelar</a>
                      <button type="submit" class="btn btn-success ms-auto" id="btnInsert">Modificar referencia</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../../partials/footer') %>
  </div>
  <script src="/js/ayuda.min.js"></script>

  <script>
    const nifref = document.getElementById('nifref')

    const validate = () => {
      const nifrefValue = nifref.value.trim().toUpperCase()

      if (nifrefValue === '') {
        setError(nifref, 'NIF/NIE requerido')
        setTimeout(function () {
          setSuccess(nifref)
        }, 3000)
        return false
      } else {
        const pattern = /^([X-Y][0-9]{7}[A-Z]{1})|([0-9]{8}[A-Z]{1})$/

        if (!pattern.test(nifrefValue)) {
          setError(nifref, 'Introduzca NIF/NIE válido')
          setTimeout(function () {
            setSuccess(nifref)
          }, 3000)
          return false
        }

        const strBase = "TRWAGMYFPDXBNJZSQVHLCKET";
        const primeraPosicion = nifrefValue.slice(0, 1);
        const letraNif = nifrefValue.slice(8);
        let nuevoNif = nifrefValue;

        if (isNaN(primeraPosicion)) {
          nuevoNif = nifrefValue.slice(1);
          if (primeraPosicion === 'X') {
            nuevoNif = '0' + nuevoNif;
          } else if (primeraPosicion === "Y") {
            nuevoNif = "1" + nuevoNif;
          } else if (primeraPosicion === "Z") {
            nuevoNif = "2" + nuevoNif;
          }
        }

        const dniNumero = nuevoNif.slice(0, 8);
        const pos = parseInt(dniNumero) % 23;
        const letra = strBase.slice(pos, pos + 1);
        const isValid = letraNif === letra

        if (isValid === false) {
          setError(nifref, 'Introduzca NIF/NIE válido')
          setTimeout(function () {
            setSuccess(nifref)
          }, 3000)
          return false
        }
      }

      return true
    }

    const setSuccess = (element) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = '';
      inputControl.classList.add('is-valid');
      element.classList.remove('is-invalid');
    }
    const setError = (element, message) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = message;
      element.classList.add('is-invalid');
      inputControl.classList.remove('is-valid');
    }
  </script>
</body>

</html>