<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Formularios</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../../partials/header') %>
    <%- include('../../../partials/navbar', {opcion: 'ADMINISTRACION' }) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <div>
                    <h3 class="card-title">Referencias</h3>
                  </div>
                </div>
                <div class="card-body">
                  <div class="list-group list-group-flush overflow-auto" style="max-height: 50vh">
                    <% datos.referencias.map(itm=> { %>
                      <div class="list-group-item py-1">
                        <div class="row">
                          <div class="col-auto">
                            <span class="avatar avatar-rounded bg-green-lt">
                              <h6>OK</h6>
                            </span>
                          </div>
                          <div class="col text-truncate">
                            <span style="font-size: .7rem;">
                              NIF: <%- itm.NIFREF %>
                            </span>
                            <div class="text-muted text-truncate">
                              <span style="font-size: .7rem;">
                                Fecha: <%- itm.FECREF.slice(0,10).split("-").reverse().join("/") %> - Referencia: <%- itm.DESREF %> - Tipo: <%- itm.DESTIP %>
                              </span>                            
                            </div>
                          </div>
                        </div>
                      </div>
                    <% }) %>
                  </div>
                </div>
                <div class="card-footer">                  
                  <div class="ms-auto d-flex py-1">
                    <input class="btn btn-primary" action="action" onclick="window.history.go(-1); return false;" type="submit" value="Volver" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../../partials/footer') %>
  </div>
</body>

</html>