<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Formularios</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <!-- custom -->
    <link rel="stylesheet" href="/css/estilos.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <style>
      .sortable th {
        cursor: pointer;
      }
    
      .sortable .th-sort-asc::after {
        content: "\25b4";
      }
    
      .sortable .th-sort-desc::after {
        content: "\25be";
      }
    
      .sortable .th-sort-asc::after,
      .sortable .th-sort-desc::after {
        margin-left: 5px;
      }
    
      .dots-menu>.nav-item>.nav-info {
        border-radius: 14px;
        color: #777;
        display: block;
        line-height: 1.2;
        position: relative;
        text-decoration: none;
        transition: background-color .3s;
      }
    
      .dots-menu>.nav-avatar {
        display: block;
        float: right;
        margin: 0;
        position: relative;
      }

      .pagination {
        float: right;
      }
    </style>
  </head>
  <body class="antialiased">
    <div class="wrapper">
    <%- include('../../partials/header') %>
    <%- include('../../partials/navbar', {opcion: 'FORMULARIO' }) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row row-deck row-cards">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Formularios</h3>
                  <div class="col-auto ms-auto">
                    <div class="d-flex">
                      <div class="input-icon me-3">
                        <span class="input-icon-addon"><i class="bi bi-search"></i></span>
                        <input type="text" class="form-control d-inline-block me-3" id="buscarFormBox"
                          onkeyup="arrayFilter(this.value);" placeholder="Buscar..." aria-label="Buscar en formularios">
                      </div>
                      <a href="#" class="btn btn-warning" onclick="checkItem(localStorage.getItem('vertodo'));">
                        <% if (datos.verTodo) { %>
                          <i class='bi bi-eye-slash dropdown-item-icon'></i>Pendientes
                        <% } else { %>
                          <i class='bi bi-eye dropdown-item-icon'></i>Resueltos
                        <% } %>
                      </a>
                      <a href="/admin/formularios/add" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                          stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                          stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <line x1="12" y1="5" x2="12" y2="19"></line>
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        Nuevo
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <table class="table table-vcenter table-striped sortable" id="tblFormularios">
                    <thead>
                      <tr class="header">
                        <th class="w-4"></th>
                        <th class="w-8">Oficina</th>
                        <th class="w-6">Fecha</th>
                        <th class="w-5">Ejerc</th>
                        <th class="w-8">NIF</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Observaciones</th>
                        <th class="w-5"></th>
                      </tr>
                    </thead>
                    <tbody id="table-body">
                    </tbody>
                  </table>
                  <div id="pagination-wrapper" class="pagination py-1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
    </div>
    
    <!-- modales -->
    <div class="modal modal-blur fade" id="modal-borrar" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-status bg-danger"></div>
          <div class="modal-body text-center py-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 9v2m0 4v.01"></path>
              <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
            </svg>
            <h3>¿Desea borrar este documento?</h3>
            <div id="delfor"></div>
            <div class="text-muted">Lo que vas a hacer no puede ser recuperado.</div>
          </div>
          <div class="modal-footer">
            <div class="w-100">
              <div class="row">
                <div class="col">
                  <a href="/admin/formularios" class="btn btn-white w-100" data-bs-dismiss="modal">Cancelar</a>
                </div>
                <div class="col">
                  <form action="/admin/formularios/delete" method="POST">
                    <input type="hidden" id="iddocu" name="iddocu" value="">
                    <button type="submit" class="btn btn-danger w-100" id="btnUpdate">Borrar formulario</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modal-blur fade" id="modal-asignar" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-status bg-primary"></div>
          <div class="modal-body text-center py-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-blue icon-lg" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 9v2m0 4v.01"></path>
              <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
            </svg>
            <h3>Asignar formulario</h3>
            <div id="texasi"></div>
          </div>
          <div class="modal-footer">
            <div class="w-100">
              <div class="row">
                <div class="col">
                  <a href="/admin/formularios" class="btn btn-white w-100" data-bs-dismiss="modal">Cancelar</a>
                </div>
                <div class="col">
                  <form action="/admin/formularios/asignar" method="POST">
                    <input type="hidden" id="asign" name="iddocu" value="">
                    <button type="submit" class="btn btn-primary w-100">Asignar formulario</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modal-blur fade" id="modal-resolver" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-status bg-success"></div>
          <form action="/admin/formularios/resolver" method="POST">
            <input type="hidden" id="resdoc" name="iddocu" value="">
            <div class="modal-body text-center py-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-green icon-lg" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="12" cy="12" r="9"></circle>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <h3>Resolver formulario</h3>
              <div id="texres"></div>
              <div class="card-header">
                SMS
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-4">
                    <div class="mb-1">
                      <label class="form-label text-start">Móvil</label>
                      <input type="text" name="movsms" id="resol" class="form-control" readonly />
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="mb-1">
                      <label class="form-label text-start">Texto sms</label>
                      <textarea name="texsms" id="texsms" class="form-control" value="" maxlength="140" rows="3"
                        style="resize: vertical"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2 text-start">
                    <label class="form-check form-check-inline">
                      <input type="checkbox" class="form-check-input" name="chkenv" id="chkenv" />
                      <span class="form-check-label">Enviar</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="w-100">
                <div class="row">
                  <div class="col">
                    <a href="/admin/formularios" class="btn btn-white w-100" data-bs-dismiss="modal">Cancelar</a>
                  </div>
                  <div class="col">
                    <button type="submit" class="btn btn-success w-100">Resolver formulario</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal modal-blur fade" id="modal-desasignar" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-status bg-danger"></div>
          <div class="modal-body text-center py-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 9v2m0 4v.01"></path>
              <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
            </svg>
            <h3>Desasignar formulario</h3>
            <div id="texdes"></div>
          </div>
          <div class="modal-footer">
            <div class="w-100">
              <div class="row">
                <div class="col">
                  <a href="/admin/formularios" class="btn btn-white w-100" data-bs-dismiss="modal">Cancelar</a>
                </div>
                <div class="col">
                  <form action="/admin/formularios/desasignar" method="POST">
                    <input type="hidden" id="desasig" name="iddocu" value="">
                    <button type="submit" class="btn btn-danger w-100">Desasignar formulario</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <script src="/js/ayuda.js"></script>
  <script src="/js/formularios.js"></script>
  <script>
    const elemBuscar = document.getElementById('buscarFormBox');
    const orgList = <%- datos.formularios %>
    const estadosDocumento = <%- datos.estadosDocumento %>

    let state = {
      'querySet': orgList,
      'page': 1,
      'rows': 9,
      'window': 3,
    }

    // events
    elemBuscar.onchange = (event) => {
      setCookie('filtro', event.target.value, .5) // medio dia
    }
    elemBuscar.value = getCookie('filtro')

    arrayFilter(elemBuscar.value)
  </script>
  </body>
</html>