<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Documentos</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- styles -->
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="antialiased">
    <div class="wrapper">
    <%- include('../../partials/header') %>
    <%- include('../../partials/navbar', {opcion: 'FORMULARIO' }) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Formularios</h3>
                  <div class="col-auto ms-auto">
                    <div class="d-flex">
                      <div class="input-icon me-3">
                        <span class="input-icon-addon">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="10" cy="10" r="7"></circle>
                            <line x1="21" y1="21" x2="15" y2="15"></line>
                          </svg>
                        </span>
                        <input type="text" class="form-control d-inline-block me-3" id="buscarFormBox"
                          onkeyup="arrayFilter(this.value);" placeholder="Buscar..." aria-label="Buscar en formularios">
                      </div>
                      <a href="#" class="btn" onclick="checkItem(localStorage.getItem('vertodo'));">
                        <% if (datos.verTodo) { %>
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" height="20" width="20" viewBox="0 0 20 20">
                            <path
                              d="M10 12.792q1.167 0 1.979-.813.813-.812.813-1.979t-.813-1.979q-.812-.813-1.979-.813t-1.979.813q-.813.812-.813 1.979t.813 1.979q.812.813 1.979.813ZM10 12q-.833 0-1.417-.583Q8 10.833 8 10q0-.833.583-1.417Q9.167 8 10 8q.833 0 1.417.583Q12 9.167 12 10q0 .833-.583 1.417Q10.833 12 10 12Zm0 3.167q-2.625 0-4.802-1.407Q3.021 12.354 1.896 10q1.125-2.354 3.292-3.76Q7.354 4.833 10 4.833q2.625 0 4.802 1.407 2.177 1.406 3.302 3.76-1.125 2.354-3.292 3.76-2.166 1.407-4.812 1.407ZM10 10Zm0 4.5q2.333 0 4.312-1.208 1.98-1.209 3.042-3.292-1.062-2.083-3.042-3.292Q12.333 5.5 10 5.5T5.688 6.708Q3.708 7.917 2.646 10q1.062 2.083 3.042 3.292Q7.667 14.5 10 14.5Z" />
                          </svg>
                          Pendientes
                        <% } else { %>
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" height="20" width="20" viewBox="0 0 20 20">
                            <path
                              d="m12.729 10.604-.75-.75q.083-.896-.531-1.416-.615-.521-1.302-.438l-.75-.75q.125-.021.281-.031.156-.011.323-.011 1.167 0 1.979.813.813.812.813 1.979 0 .167-.011.333-.01.167-.052.271Zm2.729 2.708-.5-.479q.75-.583 1.365-1.281T17.354 10q-1.021-2.104-3.01-3.302Q12.354 5.5 10 5.5q-.542 0-1.062.062-.521.063-1.021.209l-.563-.563q.667-.229 1.344-.302.677-.073 1.302-.073 2.542 0 4.802 1.365 2.26 1.364 3.302 3.802-.437.958-1.094 1.76-.656.802-1.552 1.552Zm.48 3.605-2.459-2.5q-.604.312-1.51.531-.907.219-1.969.219-2.562 0-4.802-1.365Q2.958 12.438 1.896 10q.5-1.188 1.385-2.188.886-1 1.927-1.687L3.083 4.042l.5-.48 12.834 12.855ZM5.688 6.625q-.834.563-1.709 1.448-.875.885-1.333 1.927 1.021 2.104 3.01 3.302Q7.646 14.5 10 14.5q.854 0 1.708-.156t1.334-.365l-1.563-1.521q-.25.146-.687.24-.438.094-.792.094-1.167 0-1.979-.813-.813-.812-.813-1.979 0-.333.115-.76.115-.428.219-.719ZM11 9Zm-1.208 1.625Z" />
                          </svg>
                          Resueltos
                        <% } %>
                      </a>
                      <a href="/admin/formularios/add" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" height="24" width="24" viewBox="0 0 24 24">
                          <path d="M11.25 18.75v-6h-6v-1.5h6v-6h1.5v6h6v1.5h-6v6Z" />
                        </svg>
                        Nuevo
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <table class="table table-vcenter table-striped sortable" id="tblFormularios">
                    <thead>
                      <tr class="header">
                        <th class="w-4"></th>
                        <th class="w-8">Oficina</th>
                        <th class="w-6">Fecha</th>
                        <th class="w-5">Ejerc</th>
                        <th class="w-8">NIF</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Observaciones</th>
                        <th class="w-5"></th>
                      </tr>
                    </thead>
                    <tbody id="table-body">
                    </tbody>
                  </table>
                  <div id="pagination-wrapper" class="py-1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
    </div>
    
    <!-- modales -->
    <div class="modal modal-blur fade" id="modal-borrar" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-status bg-danger"></div>
          <div class="modal-body text-center py-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 9v2m0 4v.01"></path>
              <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
            </svg>
            <h3>¿Desea borrar este documento?</h3>
            <div id="msgbor"></div>
            <div class="text-muted">Lo que vas a hacer no puede ser recuperado.</div>
          </div>
          <div class="modal-footer">
            <div class="w-100">
              <div class="row">
                <div class="col">
                  <a href="#" class="btn btn-white w-100" data-bs-dismiss="modal">Cancelar</a>
                </div>
                <div class="col">
                  <form action="/admin/formularios/delete" method="POST">
                    <input type="hidden" id="idborr" name="iddocu" value="">
                    <button type="submit" class="btn btn-danger w-100" id="btnUpdate">Borrar formulario</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modal-blur fade" id="modal-asignar" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-status bg-primary"></div>
          <div class="modal-body text-center py-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-blue icon-lg" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 9v2m0 4v.01"></path>
              <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
            </svg>
            <h3>Asignar formulario</h3>
            <div id="msgasi"></div>
          </div>
          <div class="modal-footer">
            <div class="w-100">
              <div class="row">
                <div class="col">
                  <a href="#" class="btn btn-white w-100" data-bs-dismiss="modal">Cancelar</a>
                </div>
                <div class="col">
                  <form action="/admin/formularios/asignar" method="POST">
                    <input type="hidden" id="idasig" name="iddocu" value="">
                    <button type="submit" class="btn btn-primary w-100">Asignar formulario</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modal-blur fade" id="modal-resolver" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-status bg-success"></div>
          <form action="/admin/formularios/resolver" method="POST">
            <input type="hidden" id="idreso" name="iddocu" value="">
            <div class="modal-body text-center py-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-green icon-lg" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="12" cy="12" r="9"></circle>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <h3>Resolver formulario</h3>
              <div id="msgres"></div>
              <div class="card-header">
                SMS
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-4">
                    <div class="mb-1">
                      <label class="form-label text-start">Móvil</label>
                      <input type="text" name="movsms" id="movres" class="form-control" readonly />
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="mb-1">
                      <label class="form-label text-start">Texto sms</label>
                      <textarea name="texsms" id="texres" class="form-control" value="" maxlength="140" rows="3"
                        style="resize: vertical"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2 text-start">
                    <label class="form-check form-check-inline">
                      <input type="checkbox" class="form-check-input" name="chkenv" id="chkenv" />
                      <span class="form-check-label">Enviar</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="w-100">
                <div class="row">
                  <div class="col">
                    <a href="#" class="btn btn-white w-100" data-bs-dismiss="modal">Cancelar</a>
                  </div>
                  <div class="col">
                    <button type="submit" class="btn btn-success w-100">Resolver formulario</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal modal-blur fade" id="modal-desasignar" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-status bg-danger"></div>
          <div class="modal-body text-center py-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 9v2m0 4v.01"></path>
              <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
            </svg>
            <h3>Desasignar formulario</h3>
            <div id="msgdes"></div>
          </div>
          <div class="modal-footer">
            <div class="w-100">
              <div class="row">
                <div class="col">
                  <a href="" class="btn btn-white w-100" data-bs-dismiss="modal">Cancelar</a>
                </div>
                <div class="col">
                  <form action="/admin/formularios/desasignar" method="POST">
                    <input type="hidden" id="iddesa" name="iddocu" value="">
                    <input type="hidden" name="verall" id="verall" value="">
                    <button type="submit" class="btn btn-danger w-100" onclick="checkVer()">Desasignar formulario</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modal-blur fade" id="modal-revisar" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-status bg-success"></div>
              <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Revisar formulario</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-2">
                        <div class="mb-1">
                          <label class="form-label">NIF/NIE</label>
                          <input type="text" name="nifcon" id="nifcon" class="form-control"readonly />
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="mb-1">
                          <label class="form-label">Nombre</label>
                          <input type="text" name="nomcon" id="nomcon" class="form-control" readonly />
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="mb-1">
                          <label class="form-label">Correo electrónico</label>
                          <input type="text" name="emacon" id="emacon" class="form-control" readonly />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-9">
                        <div class="mb-1">
                          <div class="form-label">Tipo</div>
                          <input type="text" name="tipdoc" id="tipdoc" class="form-control" readonly />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="mb-1">
                          <label class="form-label">Ejercicio</label>
                          <input type="text" name="ejedoc" id="ejedoc" class="form-control" readonly />
                        </div>
                      </div>
                      <div class="col-1">
                        <div class="mb-1">
                          <label class="form-label">Adm</label>
                          <input type="text" name="fundoc" id="fundoc" class="form-control" readonly />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <div class="mb-1">
                          <label class="form-label">Fecha</label>
                          <input type="text" name="fecdoc" id="fecdoc" class="form-control" readonly />
                        </div>
                      </div>
                      <div class="col-5">
                        <div class="mb-1">
                          <div class="form-label">Oficina</div>
                          <input type="text" name="ofidoc" id="ofidoc" class="form-control" readonly />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="mb-3">
                          <label class="form-label">Teléfono</label>
                          <input type="text" name="telcon" id="telcon" class="form-control" readonly />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="mb-1">
                          <label class="form-label">Movil</label>
                          <input type="text" name="movcon" id="movcon" class="form-control" readonly />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <small></small>
                        <div class="mb-1">
                          <label class="form-label">Observaciones</label>
                          <textarea type="text" name="obsdoc" id="obsdoc" class="form-control" rows="3"
                            style="resize: vertical" readonly></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end">
                    <div class="d-flex">
                      <a href="#" class="btn btn-white" data-bs-dismiss="modal">Volver</a>
                    </div>
                  </div>
              </div>
        </div>
      </div>
    </div>

    <script src="/js/ayuda.js"></script>
    <script src="/js/formulario.js"></script>
    <script>
      const checkVer = () => {
        document.getElementById('verall').value = localStorage.getItem('vertodo')
      }
    </script>
    <script>
      const orgList = <%- datos.formularios %>
      const estadosDocumento = <%- datos.estadosDocumento %>
      
      let state = {
        'querySet': orgList,
        'page': 1,
        'rows': 9,
        'window': 2,
      }
      
      // events
      const elemBuscar = document.getElementById('buscarFormBox');
      elemBuscar.onchange = (event) => {
        setCookie('filtro', event.target.value, .5) // medio dia
      }
      elemBuscar.value = getCookie('filtro')

      // inicializa tabla
      arrayFilter(elemBuscar.value)
  </script>
  </body>
</html>