<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Formularios</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../partials/header') %>
      <%- include('../../partials/navbar', {opcion: 'ADMINISTRACION' }) %>
        <div class="page-wrapper">
          <div class="page-body">
            <div class="container-xl">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <form action="" id="upd" method="POST" onsubmit="return validate();">
                      <input type="hidden" name="idform" value="<%= datos.formulario.IDFORM %>">
                      <div class="card-header">
                        <h3 class="card-title">Formulario</h3>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-2">
                            <div class="mb-1">
                              <label class="form-label">NIF/NIE</label>
                              <input type="text" name="nifcon" id="nifcon" class="form-control" value="<%- datos.formulario.NIFCON %>" readonly/>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="mb-1">
                              <label class="form-label">Nombre</label>
                              <input type="text" name="nomcon" id="nomcon" class="form-control" value="<%- datos.formulario.NOMCON %>" readonly/>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="mb-1">
                              <label class="form-label">Correo electrónico</label>
                              <input type="text" name="emacon" id="emacon" class="form-control" value="<%- datos.formulario.EMACON %>" readonly/>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-9">
                            <div class="mb-1">
                              <label class="form-label">Tipo</label>
                              <input type="text" name="tipfor" id="tipfor" class="form-control" value="<%- datos.formulario.DESTIP %>" readonly/>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="mb-1">
                              <label class="form-label">Ejercicio</label>
                              <input type="text" name="ejefor" id="ejefor" class="form-control" value="<%- datos.formulario.EJEFOR %>" readonly/>
                            </div>
                          </div>
                          <div class="col-1">
                            <div class="mb-1">
                              <label class="form-label">Adm</label>
                              <input type="text" name="funfor" id="funfor" class="form-control" value="<%- datos.formulario.FUNFOR %>" readonly/>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-3">
                            <div class="mb-1">
                              <label class="form-label">Fecha</label>
                              <input type="text" name="fecfor" id="fecfor" class="form-control" value="<%- datos.formulario.FECFOR %>" readonly/>
                            </div>
                          </div>
                          <div class="col-5">
                            <div class="mb-1">
                              <label class="form-label">Oficina</label>
                              <input type="text" name="ofifor" id="ofifor" class="form-control" value="<%- datos.formulario.DESOFI %>" readonly/>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="mb-1">
                              <label class="form-label">Teléfono</label>
                              <input type="text" name="telcon" id="telcon" class="form-control" value="<%- datos.formulario.TELCON %>" readonly/>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="mb-1">
                              <label class="form-label">Movil</label>
                              <input type="text" name="movcon" id="movcon" class="form-control" value="<%- datos.formulario.MOVCON %>" readonly/>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="mb-1">
                              <label class="form-label">Observaciones</label>
                              <textarea type="text" name="obsfor" id="obsfor" class="form-control" rows="3"
                                style="resize: vertical" readonly><%- datos.formulario.OBSFOR %></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer text-end">
                        <div class="d-flex">
                          <input class="btn btn-white" action="action" onclick="window.history.go(-1); return false;" type="submit" value="Volver" />
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include('../../partials/footer') %>
  </div>

  <script src="/js/ayuda.min.js"></script>
</body>

</html>